.but{background-color:gold;border-radius: 20px; font-size:50px;border:none;padding: 10px;font-family: Chalkboard}
.but:hover{background-color: darkgoldenrod}
@font-face {
    font-family: Chalkboard;
    src: url(Chalkboard.ttf);
}
h1,h2{font-family:"Chalkboard"}
a, u {
    color: black;
    font-family: Chalkboard;
    text-decoration: none;
    border:none;border-radius: 20px;
}